<!DOCTYPE html>
<html>
	<head>
		<title>Rango</title>
	</head>

	<body>
		<h1>Rango says...hi!</h1></br>

		{% if categories %}
			Categories
			<ul>
				{% for category in categories %}
				<li><a href='/rango/category/{{ category.slug }}'>{{ category.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no categories at all.</strong>
		{% endif %}

		{% if pages %}
			Most Viewed Pages
			<ul>
				{% for page in pages %}
				<li><a href='{{ page.url }}'>{{ page.title }}</a> has {{ page.views }} views</li>
				{% endfor %}

			</ul>	
		{% endif %}

		<a href="/rango/about">About</a></br>
		<a href="/rango/add_category/">Add a Category</a>



	</body>
</html>